-
   const pages = [
      {
         title: "Features",
         url: "#"
      },
      {
         title: "Pricing",
         url: "#"
      },
      {
         title: "Resources",
         url: "#"
      }
   ]

   const footerPages = [
      {
         title: "Features",
         url: "#",
         children: [
            {
               title: "Link Shortening",
               url: "#"
            },
            {
               title: "Branded Links",
               url: "#"
            },
            {
               title: "Analytics",
               url: "#"
            }
         ]
      },
      {
         title: "Resources",
         url: "#",
         children: [
            {
               title: "Blog",
               url: "#"
            },
            {
               title: "Developers",
               url: "#"
            },
            {
               title: "Support",
               url: "#"
            }
         ]
      },
      {
         title: "Company",
         url: "#",
         children: [
            {
               title: "About",
               url: "#"
            },
            {
               title: "Our Team",
               url: "#"
            },
            {
               title: "Careers",
               url: "#"
            },
            {
               title: "Contact",
               url: "#"
            }
         ]
      },
   ]